body{
        background-color: rgb(108, 74, 74);
    }
        h1{
            background-color: rgb(237, 237, 237);
            color: rgb(108, 74, 74);
            font-size: 60px;
            text-align:center;
        }
        .welcome{
            color: rgb(108, 74, 74);
            background-color: rgb(221, 190, 190);
            font-size: 30px;
            text-decoration:underline;
        }
        h2{
            color: rgb(237, 237, 237);
            font-size: 45px;
        }
        .about-us{
            color: rgb(200, 149, 149);
            font-size: 27px;
        }
       #list{
       color: rgb(237, 237, 237);
            font-size: 40px;
       }
         #some{
       color: rgb(237, 237, 237);
            font-size: 40px;
       }
        #parent{
       color: rgb(237, 237, 237);
            font-size: 42px;
       }
       .the{
       color: rgb(237, 237, 237);
            font-size: 42px;
       }
       .m2{
             text-align:center;
             color: rgb(237, 237, 237);
            font-size: 25px;
        }
         #li{
            color: rgb(200, 149, 149);
             font-size: 30px;
        }
        img.i2{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        img.i4{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .right-index{
            background-color: rgb(200, 149, 149);
            float: right;
            font-size: 60px;
             color: rgb(237, 237, 237);
        }
.info{
            color: rgb(200, 149, 149);
            font-size: 27px;
        }
h3{
            color: rgb(237, 237, 237);
            font-size: 40px;
        }
        .must{
           color: rgb(200, 149, 149);
            font-size: 27px; 
        }
.ab{
             color: rgb(200, 149, 149);
             font-size: 30px;
            text-align:center;
        }
        .el{
            color: rgb(221, 190, 190);
            text-align:right;
            font-size: 27px;
        }
        .tech{
       color: rgb(237, 237, 237);
            font-size: 30px;
       }
        .techplan{
       color: rgb(237, 237, 237);
            font-size: 30px;
       }
        .r{
       color: rgb(237, 237, 237);
            font-size: 30px;
       }
.parents{
            color: rgb(200, 149, 149);
            font-size: 27px;
        }
table {
            text-align:center;
            width: 770px;
            margin-left: auto;
            margin-right: auto;
            font-size: 25px;
            color: rgb(200, 149, 149);
            border: dashed;
            border-color: rgb(221, 190, 190);
        }
        .left{
            float: left;
            width: 22%;
        }
        .right{
            float: right;
            width: 75%;
        }
        .cot1{
            background-color: rgb(237, 237, 237);
            color: rgb(108, 74, 74);
            font-size: 30px;
        }
        .cot2{
           background-color: rgb(108, 74, 74);
            color: rgb(200, 149, 149);
             font-size: 24px;
        }
        .between{
            display: inline-block;
        }
